html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
a:hover
{
	color: #0FBF61;
}
.clear {
    clear: both;
}
header
{
	background: #0FBF61 10%;
	position: sticky;
	top: 0;
}
.navbar
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 15px;
}
.navbar a{
	text-decoration: none;
	color: inherit;
}

.logo
{
	margin-right: 50px;
}
.list
{
list-style: none;
display: flex;
gap: 25px;
}
.list button{
	border-radius: 20px;
	width: 60px;
	background: #0FBF61;
}
.navbar a:hover{
	color: #0FBF61;
}
#toggle,.navbar label{
	display: none;
}

@media screen and (max-width:600px) {
	.menu
	{
		width: 100%;
		max-height: 0;
		overflow: hidden;
	}
	.list
	{
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
	.navbar label
	{
    display: inline-flex;
    align-items: center;
	cursor: pointer;
	}
	#toggle:checked ~ .menu{
		max-height: 100%;
	}
}
.section1
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.section1 .banner
{
	margin-top: 100px;
	margin-left: 161px;
	width: 476px;
	height: 309px;
}
.section1 .banner button{
	width: 170px;
	background: #0FBF61;
	border-radius: 24px;
	height: 54px;
}
.section1 .bannerfoto
{
    margin-right: 171px;
	width: 548px;
    height: 390px;
}
.section1 .banner h3{
	color: #0FBF61;
}
.butov
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.basliq
{
	margin-left: 900px;
	color: #0FBF61;
}
.sekil
{
	margin-left: 252px;
}
.yazi
{
	margin-right: 200px;
	width: 551px;
height: 476.1px;
}
.yazi span{
	color: #0FBF61;
}
.yazi p{
	padding-top: 40px;
}
.yazi ion-icon
{
padding: 10px;
	color: #0FBF61;
	margin-top: 2px;
}
.icon{
	flex-direction: column;
}
.section3 .basliq1
{   
	align-self: center;
}
.section3 .basliq1 h6
{
	margin-left: 630px;
	color: rgb(150, 143, 143 , 0.6);
}
.section3 .basliq1 h1{
	color: #0FBF61;
	
	margin-left: 593px;
}
.kutu
{
	margin-right: auto;
    margin-left: auto;
	display: inline-block;
	justify-content: space-between;
	padding-left: 180px;
	flex-direction: row;
	margin-right:201px;
	width: 1077px;
    height: 130px;
}
.kutu1
{
	float: left;
    display: inline-block;
	width: 299px;
    height: 130px;
}
.kutu1 .div

{  
	position: absolute;
	background: rgba(15, 191, 97, 0.2);
	width: 120;
	height: 120;
	border-radius: 22px;
}
.kutu1 .div img{
	width: 70px;
	height:70px;
}
.kutu .kutu1 p{
	margin-left: 90px;
}
.kutu1 h6
{
	margin-left: 90px;
}
.kutu2
{ 
	float: left;
    display: inline-block;
	width: 299px;
    height: 130px;
}
.kutu2 .div

{  
	position: absolute;
	background: rgba(15, 191, 97, 0.2);
	width: 120;
	height: 120;
	border-radius: 22px;
}
.kutu2 .div img{
	width: 70px;
	height:70px;
}
.kutu .kutu2 p{
	margin-left: 90px;
}
.kutu2 h6
{
	margin-left: 90px;
}
.kutu3 .div

{  
	position: absolute;
	background: rgba(15, 191, 97, 0.2);
	width: 120;
	height: 120;
	border-radius: 22px;
}
.kutu3 .div img{
	width: 70px;
	height:70px;
}
.kutu .kutu3 p{
	margin-left: 90px;
}
.kutu3 h6
{
	margin-left: 90px;
}
.kutu3
{
	padding-left: 50px;
	float: left;
    display: inline-block;
	width: 299px;
    height: 130px;
}
.section4
{
	display: flex;
	float: left;
}
.section4 .div2
{margin-top: 70px;
    margin-left: 160px;
    margin-right: 170px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 30px;
}
.section4 .div2 p
{
	margin-top: 70px;
 margin-left: -20px;
}
.section4 .div2 h3
{
	margin-top: 180px;
}
.section4 .div2 span
{
	width: 100px;
	height: 70px;
	margin-left: 20px;
margin-top: 450px;
}
.section4 .div2 ion-icon
{
	margin-left: 20px;
margin-top: 450px;
	width: 40px;
	height: 40px;
}
.section4 .div1
{
flex-direction: column;
}

.section4 .div4
{margin-top: 70px;
	margin-left: 160px;
    margin-right: 170px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 30px;
}

.section4 .div4 p
{
	margin-top: 70px;
 margin-left: -20px;
}
.section4 .div4 h3
{
	margin-top: 180px;
}
.section4 .div4 span
{
	width: 100px;
	height: 70px;
	margin-left: 20px;
margin-top: 450px;
}
.section4 .div4 ion-icon
{
	margin-left: 20px;
margin-top: 450px;
	width: 40px;
	height: 40px;
}
.section4 .div6
{
	margin-top: 70px;
	margin-left: 160px;
    margin-right: 170px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 30px;
}
.section4 .div6 p
{
	margin-top: 70px;
 margin-left: -20px;
}
.section4 .div6 h3
{
	margin-top: 180px;
}
.section4 .div6 span
{
	width: 100px;
	height: 70px;
	margin-left: 20px;
margin-top: 450px;
}
.section4 .div6 ion-icon
{
	margin-left: 20px;
margin-top: 450px;
	width: 40px;
	height: 40px;
}
.section5
{  
	margin-left: 160px;
	margin-right: 160px;
}
.section5 h1
{
	color: #0FBF61;
}
.section5 nav ul
{
	margin-left: 250px;
	margin-top: 75px;
	text-align: center;
	display: flex;
	float: left;
}
.section5 nav ul li{
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
.section5 nav ul li a{
	text-decoration: none;
	color: black;
}
.div9 
{
	
	justify-content: space-between;
}
.div9 img
{
	width: 509px;
height: 350px;
}
.div10
{
	justify-content: space-between;
}
.div10 img{
	margin-top: 10px;
	width: 509px;
	height: 350px;
}
.section5 button{
	margin-top: 94px;
	width: 214px;
    height: 54px;
	border-radius: 50px;
	background: #0FBF61;
	margin-left: 390px;
}

.section6{
	margin-left: 160px;
	margin-right: 160px;
}
.section6 .div11
{
	color: #ffffff;
	margin-top: 137px;
	border-radius: 30px;
	background: #0FBF61;
	position: absolute;
	width: 1116px;
	height: 250px;
	filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
.section6 .div11 .renk
{
	width: 215.2px;
height: 247.93px;
margin-left: 533.87px;
border-radius: 17px;
transform: rotate(-43.13deg);

}
.section6 .div11 button{
	width:152px;
	height:54px;
	border-radius: 50px;
	margin-left: 800px;
	background: #fff;
}
footer
{
	margin-top: 305px;
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(15, 191, 97, 0.1);
}
footer h6{
	margin-top: 230px;
}
footer .icon1
{
	margin-left: 1100px; 
	margin-bottom: 20px;
}